<footer class='footer'>
	<div class='footer__top'>
		<ul class='footer__list'>
			<li class='footer__item'>
				<a href='/tele2/'>
					<svg
						width='40'
						height='40'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
					>
						<path
							class='footer__icon'
							d='M34 12.895c-.92.597-1.908.841-3.125.947 1.238-.558 2.051-1.449 2.083-2.842-.64.853-1.737 1.231-3.125 1.895A3.568 3.568 0 0 0 26.708 11c-3.232 0-5.528 2.034-5.208 4.737-.32.163-.275.51 0 .947-4.45-.294-8.23-2.103-10.417-4.737-.784.556-1.037 1.336-1.041 1.895.004 1.85.91 3.242 2.083 3.79-.638.243-1.429.038-2.083 0-.038-.283-.038-.264 0 0-.038 1.957 1.73 3.793 4.166 3.79-.52.525-.973.58-1.041.946-.73-.365-1.051-.394-1.042 0 .33 1.358 2.224 2.672 4.167 2.843-1.454 1.085-3.665 1.81-6.25 1.894-.232-.083-.64-.105-1.042 0C11.27 28.248 13.966 29 17.333 29c8.963 0 14.123-6.924 14.584-13.263-.467-.06-.462.137 0 0 .526-.895 1.395-1.695 2.083-2.842Z'
							fill='#fff'
						/>
					</svg>
				</a>
			</li>
			<li class='footer__item'>
				<a href='/tele2/'>
					<svg
						width='40'
						height='40'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
					>
						<path
							class='footer__icon'
							d='M29.405 22.175c-.436-.56-.312-.81 0-1.31.006-.006 3.61-5.064 3.98-6.78h.003c.184-.626 0-1.085-.892-1.085h-2.953c-.751 0-1.098.394-1.283.835 0 0-1.503 3.655-3.63 6.024-.686.685-1.003.904-1.378.904-.184 0-.471-.219-.471-.844v-5.834c0-.75-.21-1.085-.833-1.085h-4.642c-.47 0-.751.35-.751.675 0 .711 1.063.875 1.173 2.875v4.34c0 .95-.17 1.125-.546 1.125-1.004 0-3.44-3.67-4.883-7.87-.291-.815-.576-1.144-1.333-1.144H8.013c-.843 0-1.013.394-1.013.836 0 .779 1.004 4.654 4.667 9.774C14.108 27.106 17.547 29 20.674 29c1.88 0 2.11-.42 2.11-1.144 0-3.34-.17-3.655.77-3.655.438 0 1.189.22 2.944 1.905 2.006 2 2.336 2.894 3.458 2.894h2.952c.842 0 1.268-.42 1.023-1.25-.561-1.745-4.355-5.335-4.526-5.575Z'
							fill='#fff'
						/>
					</svg>
				</a>
			</li>
			<li class='footer__item'>
				<a href='/tele2/' target='_blank'>
					<svg
						width='40'
						height='40'
						fill='none'
						xmlns='http://www.w3.org/2000/svg'
					>
						<g clip-path='url(#a)'>
							<path
								class='footer__icon'
								d='M23.9 10.566h2.433V6.194C25.913 6.134 24.47 6 22.787 6c-3.51 0-5.914 2.277-5.914 6.461v3.851H13v4.889h3.873V33.5h4.748V21.202h3.717l.59-4.888H21.62v-3.368c.002-1.413.37-2.38 2.28-2.38Z'
								fill='#fff'
							/>
						</g>
						<defs>
							<clipPath id='a'>
								<path fill='#fff' d='M0 0h40v40H0z' />
							</clipPath>
						</defs>
					</svg>
				</a>
			</li>
		</ul>
		<a class='footer__condition' href='/tele2/' target='_blank'>Полные условия
			акции</a>
		<div class='footer__age'>16+</div>
	</div>
	<div class='footer__bottom'>
		<a class='footer__logo' href='/tele2/'>
			<img
				src='/img/logo.svg'
				alt='logo'
				width='79'
				height='30'
				loading='lazy'
			/>
		</a>
		<p class='footer__company'>&#169; Tele2 Россия, 2024</p>
		<p class='footer__developer'>Сделано в Студии Олега Чулакова</p>
		<a href='https://chulakov.ru/' target='_blank'>
			<img
				src='/img/chulakov.svg'
				alt='developer'
				width='140'
				height='16'
				loading='lazy'
			/>
		</a>
	</div>
</footer>
