<header class='header'>
	<a href='/tele2/'>
		<img
			class='header__logo'
			src='/img/logo.svg'
			alt='logo'
			width='88'
			height='33'
		/>
	</a>
	<button class='header__btn' type='button'>
		<svg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'>
			<path
				class='header__icon'
				fill-rule='evenodd'
				clip-rule='evenodd'
				d='M16 3c-4.983.055-9 4.105-9 9.094v.078c0 4.847 8.057 15.101 8.4 15.535a.76.76 0 0 0 1.198.002c.345-.436 8.402-10.69 8.402-15.54v-.075c0-4.99-4.018-9.04-8.995-9.094H16Zm0 22.949c-2.533-3.333-7.46-10.496-7.46-13.78l-.002-.133A7.46 7.46 0 0 1 16 4.576a7.46 7.46 0 0 1 7.46 7.6c0 3.276-4.928 10.437-7.46 13.771v.002ZM16 8.21h-.078a4.142 4.142 0 1 0 4.142 4.141v-.037a4.109 4.109 0 0 0-4.062-4.108L16 8.211Zm0 6.713h-.049a2.573 2.573 0 1 1 2.574-2.572V12.37c0 1.4-1.127 2.536-2.523 2.551l-.002.003Z'
				fill='#fff'
			/>
		</svg>
		<span class='header__text'>Санкт-Петербург</span>
	</button>
	<dialog class='dialog' id='dialog' aria-labelledby='dialog-name'>
		<h6 class='dialog__title' id='dialog-name'>
			Ваш регион
			<span class='dialog__city'>Санкт-Петербург</span>?
		</h6>
		<button class='dialog__confirm' type='button'>Да, верно</button>
		<button class='dialog__change' type='button'>Изменить регион</button>
	</dialog>
</header>
