<template class='city__template'>
	<article class='city'>
		<h2 class='city__title'>Выберите город</h2>
		<ul class='city__table'>
			<li>
				<button class='city__item' type='button'>Воронеж</button>
			</li>
			<li>
				<button class='city__item' type='button'>Москва</button>
			</li>
			<li>
				<button class='city__item' type='button'>Ростов-на-Дону</button>
			</li>
			<li>
				<button class='city__item' type='button'>Иркутск</button>
			</li>
			<li>
				<button class='city__item' type='button'>Н. Новгород</button>
			</li>
			<li>
				<button class='city__item' type='button'>Санкт-Петербург</button>
			</li>
			<li>
				<button class='city__item' type='button'>Кемерово</button>
			</li>
			<li>
				<button class='city__item' type='button'>Новосибирск</button>
			</li>
			<li>
				<button class='city__item' type='button'>Челябинск</button>
			</li>
			<li>
				<button class='city__item' type='button'>Красноярск</button>
			</li>
			<li>
				<button class='city__item' type='button'>Пермь</button>
			</li>
		</ul>
	</article>
</template>
