<section class='benefit'>
	<div class='benefit__info'>
		<p class='benefit__date'>Акция продлится с 1 по 20 сентября</p>
		<h1 class='benefit__title'>ЭТО ВАША <span>ВЫГОДА!</span></h1>
		<p class='benefit__text'>
			Тариф «Мой онлайн+» и 1 ТБ трафика в подарок для новых абонентов
		</p>
		<a class='benefit__btn' href='#form'>Принять участие</a>
	</div>
	<img
		class='benefit__img'
		src='/img/boss.png'
		alt='boss'
		width='584'
		height='551'
	/>
</section>
