<section class='manual'>
	<article class='manual__col'>
		<h2 class='manual__title' id='form'>
			Несколько шагов
			<span>и 1 ТБ — ваш</span>
		</h2>
		<form action='/' method='get' autocomplete='on'>
			<label class='manual__phone' for='phone'>Номер телефона</label>
			<input
				class='manual__input'
				type='tel'
				id='phone'
				name='phone'
				placeholder='+7 (988) 543-32-34'
				maxlength='18'
				required
			/>
			<template class='manual__template-hint'>
				<div class='manual__hint'>
					<div class='manual__hint-icon-bg'>
						<svg
							class='manual__hint-icon'
							width='6'
							height='6'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<path d='m.5 3 1.56 1.5L5.5 1' stroke='#04662E' />
						</svg>
					</div>
					<p class='manual__hint-text'>Промокод выслан на ваш номер</p>
				</div>
			</template>
			<label class='manual__agree'>
				<input class='manual__checkbox' type='checkbox' name='agree' required />
				<span class='manual__checkbox-custom'></span>
				<p>
					Даю согласие на обработку персональных данных.
					<a href='/tele2/' target='_blank'>Условия соглашения.</a>
				</p>
			</label>
			<input class='manual__btn' type='submit' value='Выслать промокод' />
			<template class='manual__template-message'>
				<div class='manual__message'>
					<div class='manual__bg'>
						<svg
							width='11'
							height='8'
							fill='none'
							xmlns='http://www.w3.org/2000/svg'
						>
							<path d='m1 3.5 2.833 3L10 1' stroke='#1F2229' stroke-width='2' />
						</svg>
					</div>
					<p class='manual__text'>Промокод выслан на ваш номер</p>
				</div>
			</template>
		</form>
	</article>
	<div>
		<ul class='manual__list'>
			<li class='manual__item'>
				<div class='manual__number'>1</div>
				<p>
					Ведите свой номер телефона, затем дождитесь смс с промокодом для
					получения Тб
				</p>
			</li>
			<li class='manual__item'>
				<div class='manual__number'>2</div>
				<p>
					Перейдите на сайт Tele2 и активируйте промокод при подключении на
					тариф «Мой Онлайн+»
				</p>
			</li>
			<li class='manual__item'>
				<div class='manual__number'>3</div>
				<p>
					Используйте свой подарочный ТБ от Tele2 в течение всего года
				</p>
			</li>
		</ul>
	</div>
</section>
