<section class='order'>
	<div class='order__info'>
		<h2 class='order__title'>Заходите на сайт Tele2</h2>
		<p class='order__text'>
			Перейдите в магазин, оформите тариф «Мой онлайн+» и на страничке активации
			введите ваш промокод. Готово!
		</p>
		<a
			class='order__btn'
			href='https://rostov.tele2.ru'
			target='_blank'
		>Оформить тариф</a>
	</div>
	<img
		class='order__img'
		src='/img/tariff.png'
		alt='tariff'
		width='359'
		height='373'
		loading='lazy'
	/>
</section>
