<section class='promo'>
	<h2 class='promo__title'>Один терабайт — много любимых развлечений</h2>
	<p class='promo__condition'>
		Подарок получают только новые абоненты при подключении услуг Tele2 с тарифом
		«ой онлайн+». Трафик расходуется в течение года.
	</p>
	<ul class='promo__list'>
		<li class='promo__item'>
			<div class='promo__item-bg'>
				<img
					src='/icons/videoIcon.svg'
					alt='video'
					width='40'
					height='40'
					loading='lazy'
				/>
			</div>
			<span>Около 500 часов видео</span>
		</li>
		<li class='promo__item'>
			<div class='promo__item-bg'>
				<img
					src='/icons/musicIcon.svg'
					alt='music'
					width='40'
					height='40'
					loading='lazy'
				/>
			</div>
			<span>Примерно 200 000 песен</span>
		</li>
		<li class='promo__item'>
			<div class='promo__item-bg'>
				<img
					src='/icons/photoIcon.svg'
					alt='photo'
					width='40'
					height='40'
					loading='lazy'
				/>
			</div>
			<span>Порядка 300 000 фото</span>
		</li>
	</ul>
</section>
